@page "/"

@using DisableEditButton.Data
@inject WeatherForecastService ForecastService

@if (forecasts == null) {
    <p><em>Loading...</em></p>
}
else {
    <DxGrid @ref="myGrid" Data="@forecasts" EditModelSaving="OnEditModelSaving">
        <Columns>
            <DxGridCommandColumn NewButtonVisible=false>
                <CellDisplayTemplate>
                    @{
                        var date = context.DataItem != null ? (context.DataItem as WeatherForecast).Date : DateTime.Now;
                        <DxButton Text="Edit"
                                  RenderStyle="ButtonRenderStyle.Link"
                                  Click="() => myGrid.StartEditDataItemAsync(context.DataItem)"
                                  Enabled="@(date >= DateTime.Now)" />
                    }
                </CellDisplayTemplate>
            </DxGridCommandColumn>
            <DxGridDataColumn Caption="Date" FieldName="Date"/>
            <DxGridDataColumn Caption="Summary" FieldName="Summary"/>
            <DxGridDataColumn Caption="Temperature (C)" FieldName="TemperatureC"/>
            <DxGridDataColumn Caption="Temperature (F)" FieldName="TemperatureF"/>
        </Columns>
        <EditFormTemplate Context="editFormContext">
            <DxFormLayout>
                <DxFormLayoutItem Caption="Date:">
                    @editFormContext.GetEditor("Date")
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Summary:">
                    @editFormContext.GetEditor("Summary")
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Temperature (C):">
                    @editFormContext.GetEditor("TemperatureC")
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Temperature (F):">
                    @editFormContext.GetEditor("TemperatureF")
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditFormTemplate>
    </DxGrid>
}

@code {
    List<WeatherForecast>? forecasts;
    IGrid myGrid { get; set; }

    protected override async Task OnInitializedAsync() {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now.AddDays(-2));
    }

    void OnEditModelSaving(GridEditModelSavingEventArgs e) {
        WeatherForecast dataItem = e.DataItem as WeatherForecast;
        WeatherForecast editModel = e.EditModel as WeatherForecast;
        dataItem.Date = editModel.Date;
        dataItem.TemperatureC = editModel.TemperatureC;
        dataItem.Summary = editModel.Summary;
    }
}
